
src/.DS_Store
.DS_Store
.classpath
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
*.class
*.MF
target/classes/META-INF/maven/effectivejava/effectivejava/pom.properties
target/classes/META-INF/maven/effectivejava/effectivejava/pom.xml
